body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  gap: 1rem;
  grid-template-rows: 10vh 86vh 4vh;
  padding: .5rem;
  max-width: 99%;
}

.Nav {
  text-align: center;
  background-color: rgb(252, 230, 247);
  background-image: url('../images/grass.jpg');
  background-size: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  border-style: solid ;
  align-items: center;
  

  display: grid;
  grid-template-columns: 25% 50% 25%;
  /* grid-template-rows: 10vh; */
}

.Nav .Links {
  grid-column-start: 1;
   /* grid-row-start: 1; */



}

.Nav .DraftStars {
  
  grid-column-start: 3;

  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: 800;
  text-shadow: 2px 1px 2px rgb(0, 0, 0);
  max-height: 4vh;
  font-size: 4vh;

}

.Nav a {

  padding: 10px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 2px 1px 2px rgb(0, 0, 0);
  font-style: italic;
}

/* .DraftStars {

}  */

.Content {
  background-image: url('../images/grass.jpg');
  background-size: 100%;

  grid-row-start: 2;

  border-style: solid ;
}

